<div class="row">
    <div class="col-md-6" id="urunler">
        <ul class="list-group">
        </ul>
    </div>
</div>

@section Scripts{
    <script>
        var sepet = localStorage.getItem("sepet");
        var sepetButon = document.getElementById("sepetButon");

        var satirIskelet = `<li class="list-group-item" id="ID"> <div class="d-flex justify-content-between"> <div id="ID-ad" style="width: 10rem;"></div> <div id="ID-tutar"></div> <div> <button class="btn btn-sm btn-danger" onclick="urunAzalt('ID')">-</button> <span id="ID-adet"></span> <button class="btn btn-sm btn-success" onclick="urunArttir('ID')">+</button> </div> </div> </li>`;

        if (sepet == null) {
            sepet = [];
            sepetButon.innerText = "0";
        } else {
            sepet = JSON.parse(sepet);
            let toplamAdet = sepet.reduce((acc, m) => acc += m.adet, 0);
            sepetButon.innerText = toplamAdet;
        }

        sepet.forEach(m => {
            let urunlerDiv = document.getElementById("urunler");
            let ul = urunlerDiv.childNodes[1];
            let yeniSatir = satirIskelet;

            yeniSatir = yeniSatir.replaceAll("ID", m.id);
            ul.innerHTML += yeniSatir;

            document.getElementById(`${m.id}-tutar`).innerText = m.fiyat * m.adet;
            document.getElementById(`${m.id}-adet`).innerText = m.adet;
            document.getElementById(`${m.id}-ad`).innerText = m.ad;
        });

        function urunArttir(id) {
            let bulunanIndex = sepet.findIndex(m => m.id == id);
            sepet[bulunanIndex].adet += 1;
            document.getElementById(`${id}-adet`).innerText = sepet[bulunanIndex].adet;
            document.getElementById(`${id}-tutar`).innerText = sepet[bulunanIndex].fiyat * sepet[bulunanIndex].adet;
            localStorage.setItem("sepet", JSON.stringify(sepet));
        }

        function urunAzalt(id) {
            let bulunanIndex = sepet.findIndex(m => m.id == id);

            if (sepet[bulunanIndex].adet == 1) {
                sepet = sepet.filter(m => m.id != id);
                document.getElementById(id).remove();
            } else {
                sepet[bulunanIndex].adet -= 1;
                document.getElementById(`${id}-adet`).innerText = sepet[bulunanIndex].adet;
                document.getElementById(`${id}-tutar`).innerText = sepet[bulunanIndex].fiyat * sepet[bulunanIndex].adet;
            }

            localStorage.setItem("sepet", JSON.stringify(sepet));
        }
    </script>
}