@using Eticaret.Model

@{
    Kategori? kategori = (Kategori?)ViewBag.Kategori;
    List<Urun> urunler = (List<Urun>)ViewBag.Urunler;
}

@if (kategori == null)
{
    <div class="row">
        <div class="col-md-12">
            <center>
                <h1>Kategori Bulunamadı</h1>
            </center>
        </div>
    </div>
}
else
{
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>@kategori.Ad</h1>
        </div>
    </div>

    <div class="row">
        @foreach (Urun urun in urunler)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>@urun.Ad</h5>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>@urun.Fiyat</span>
                            <button class="btn btn-sm btn-primary">Sepete Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}